
@import './assets/styles/fonts';
@import './assets/styles/animations';

:root {
  --color-primary: rgb(49, 81, 37);
  --color-secondary: #f9f8f6;
  --min-width: 360px;
  --max-width: 840px;
  --rsvp-color-1: #333;
  --rsvp-color-2: white;
  --rsvp-font-family-1: RUJHYXJhbWuZCSZWdbGFyLnRZg;
  --rsvp-background-color-1: #f0f0f0;
  --rsvp-background-color-3: #ddd;
  --rsvp-background-color-4: #52634d;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
}

.wedding-invitation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wedding-invitation-container {
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
  }
}

.section {
  padding: 40px 20px;
  margin: 0 auto;

  &.section-secondary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .flex-container {
    display: flex;
    margin: 2%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

@function clamp-builder($minFontSize, $maxFontSize, $minWidthPx, $maxWidthPx) {
  $minWidthPx: var(--min-width);
  $maxWidthPx: var(--max-width);
  $pixelsPerRem: 16; // default root font-size, adjust if needed

  $minWidth: $minWidthPx / $pixelsPerRem;
  $maxWidth: $maxWidthPx / $pixelsPerRem;

  $slope: ($maxFontSize - $minFontSize) / ($maxWidth - $minWidth);
  $yAxisIntersection: -$minWidth * $slope + $minFontSize;

  @return clamp(
    #{$minFontSize}rem,
    #{$yAxisIntersection}rem + #{$slope * 100}vw,
    #{$maxFontSize}rem
  );
}

#webpack-dev-server-client-overlay {
  display: none !important;
}
