@use "./_function.scss" as *;

/* 01_HERO */
.section.section-hero {
  padding-bottom: 0px !important;
  position: relative;
  height: 80vh;
  background-image: url("../images/01-hero/hero1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: white;

  text-align: left;
  font-style: normal;
  font-size: 90px !important;

  h1,
  span {
    font-size: clamp-builder(6, 12);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.76);
    font-weight: normal;
  }

  h1 {
    margin: 0;
    font-family: MUZUViWSVAtSEFTVEVHSSPVEY;
  }

  span {
    line-height: 0.5;
  }

  .second {
    display: flex;
    padding: 0 20px;
  }
}
