/* 01_HERO */
.section.section-hero {
  position: relative;
  height: 90vh;
  background-image: url("../images/01-hero/hero-bg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: white;

  text-align: left;
  font-style: normal;
  font-size: 90px !important;

  h1 {
    font-size: 1em;
    margin: 0;
    font-family: MUZUViWSVAtSEFTVEVHSSPVEY;
    font-weight: normal;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }

  span {
    line-height: 0.5;
    font-weight: normal;
  }

  .second {
    display: flex;
    padding: 0 20px;
  }
}
