@use "./_function.scss" as *;

/* 03_Calendar Section */
.section-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: clamp-builder(3, 5);
    margin-top: 0;
    margin-bottom: 5px;
  }

  .calendar-grid {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(7, 0fr);
    gap: 1px;
    font-size: clamp-builder(0.8, 1);
    justify-content: space-around;

    .day-name {
      padding: 5px 5px 10px 5px;
    }

    .date-number {
      padding: 10px;
    }

    .date-number.highlight {
      background-image: url("../images/03-calendar/heart-optimized.webp");
      background-size: cover;
      background-repeat: round;
      animation-name: pulse;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}
