/* 03_Calendar Section */
.section-calendar {
  padding: 50px 10px 30px 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 37.65px;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    gap: 4px;
    div {
      padding: 10px;
    }
    .day-name {
      font-weight: normal;
    }
    .date-number {
      font-size: 15px;
    }
    .date-number.highlight {
      position: relative;

      &::after {
        content: "";
        background-image: url("../images/calendar/heart.png");
        background-size: cover; /* or contain, depending on your needs */
        width: 55px;
        height: 55px;
        position: absolute;
        top: -10px;
        right: -4px;
        font-size: 1.2rem;
        animation-name: pulse;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }
}
