@use "./_function.scss" as *;

/* 03_Calendar Section */
.section-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: clamp-builder(3, 5);
    margin-top: 0;
  }

  .calendar-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(7, 1fr);
    gap: 7px;
    font-size: clamp-builder(1, 2.8);
    justify-content: center;

    .day-name {
      padding: 5px 5px 10px 5px;
    }

    .date-number {
      padding: 20px 5px 20px 5px;
    }

    .date-number.highlight {
      background-image: url("../images/03-calendar/heart.png");
      background-size: cover;
      background-repeat: round;
      animation-name: pulse;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}
