@use "./_function.scss" as *;

/* 05_EVENT DETAILS */
.section-event-details {
  h1 {
    font-size: 2rem;
  }
  h1.day {
    margin: 0;
    font-size: 5rem;
  }
  h1.month {
    line-height: 60px;
    margin: 20px 0;
    border-bottom: 2px solid var(--color-primary);
    border-top: 2px solid var(--color-primary);
  }
  h1.year {
    line-height: 60px;
    margin: 20px 0;
    border-bottom: 2px solid var(--color-primary);
    border-top: 2px solid var(--color-primary);
  }

  a.map-guide {
    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: inherit;
    font-weight: 500;

    animation-name: pulse;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .event-time {
    font-family: RUJHYXJhbWuZCNZWRpdWudHRm;
    font-size: clamp-builder(1.2, 2.5);
  }

  .event-dining-weekday {
    font-size: clamp-builder(2, 3);
    margin: 10px auto;
  }

  .month,
  .year {
    font-size: clamp-builder(1.5, 3);
  }
}
