@use "./_function.scss" as *;

/* 06_GALLERY */
.section-gallery {
  background-color: var(--color-primary);
  color: var(--color-secondary);

  .our-memories-heading {
    display: flex;
    align-items: center;

    .our-memories-text {
      font-size: clamp-builder(3.6, 8);
      line-height: 0;
    }
    .our-memories-line {
      height: 2px;
      background-color: var(--color-secondary);
      flex-grow: 1;
      margin-left: 5px;
      margin-top: 40px;
    }
  }

  .our-memories-description {
    margin-top: 0;
    text-align: justify;
    line-height: 1.5;
  }

  .gallery-container {
    display: flex;
    justify-content: start;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 12px;

    .gallery-thumb {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.2s ease;
    }

    .gallery-thumb:hover {
      transform: scale(1.03);
    }
  }

  // .gallery-grid {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  //   gap: 12px;
  //   width: 100%;
  //   max-width: 1000px; // keeps it centered and not too wide
  // }

  // .gallery-thumb {
  //   width: 100%;
  //   height: auto;
  //   border-radius: 8px;
  //   cursor: pointer;
  //   object-fit: cover;
  //   transition: transform 0.2s ease;
  // }

  // .gallery-thumb:hover {
  //   transform: scale(1.03);
  // }
}
