/* 08_Thank You Section */
.section-thank-you {
  position: relative;
  height: 80vh;
  background-image: url("../images/01-hero/hero1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add a dark overlay for better text readability */
.section-thank-you::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.thank-you-content {
  position: relative; /* To ensure text is on top of the overlay */
  z-index: 1;
  max-width: 700px;
}

.thank-you-content p {
  font-size: 1.5rem;
  line-height: 1.6;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
